
// Colors
$color-primary: #58e1c1;
$color-secondary:#51ddfc;
$color-frame: #ccc;
$color-links: #51ddfc;
$color-hover: #fff;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;

// Media
$breaker: 768px;
$biggest: 1400px;

// Padding
$base-margin:10px;

// Text Styles
$norm-style: font-family, 'Lato', sans-serif;
$base-text: #777;
$heavy-text: 300;
$alt-text: italic;
